server {
    listen 80;

    location / {
        add_header Access-Control-Allow-Origin *;
        add_header Access-Control-Allow-Methods "GET, POST, OPTIONS";
        add_header Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Accept, Authorization";

        proxy_pass http://backend;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    location /src/ {
        proxy_pass http://backend;  # Forward requests to the backend servers defined in the upstream block
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }











    location ~ ^/static/js/main\.[0-9a-f]+\.js$ {
        proxy_pass http://backend;
        proxy_set_header Host $host;
    }

    location /static/ {
        proxy_pass http://backend/static;  # Passes static requests to the web servers
        proxy_set_header Host $host;
    }
}

upstream backend {
    {% for server in backend_servers %}
    server {{ server.url }};
    {% endfor %}
}
